$bg: #f2f5f7;
$white: #ffffff;
$gray: #42515b;
$grayLink: rgba(71, 72, 73, 0.3);
$blue: #117af7;
$black: #000;

@mixin button ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 15px 30px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    opacity: 1;

    &:hover,&:focus{
        background-color: $color;
        box-sizing: border-box;
        cursor: pointer;
         a{
            color: $white;
        }
    }
}

@mixin fullCollorButton ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 15px 30px;   
    background-color: $color;

    &:hover,&:focus{
        border: 2px solid $color;
        background-color: transparent;
        box-sizing: border-box;
         a{
        background-color: transparent;
        color: $blue;
        border: none;
        }
    }
    
}

// тел в header
@mixin links ($color) { 
    border-radius: 35px;
    padding: 15px 35px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

// кнопки в header
@mixin linksSmall ($color) {
    border-radius: 35px;
    // padding: 15px 0px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

* {
    transition: all 0.3s;
    }

html {
    font-family: 'Akrobat';

   font-size: 20px;
   line-height: 30px;
   font-weight: bold;

    text-transform: uppercase;
    }

body {
    min-width: 320px;
    box-sizing: border-box;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none; 
}



  /* header */

.main-nav {
    width: 100%;
    background-color: $bg;

    .header-conteiner{
        max-width: 1353px;

        margin: auto;
        padding: 5px 15px;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        @media (min-width: 320px) {
            justify-content: space-between;
        }

        @media (min-width: 720px) {
            justify-content: flex-end;
        }
        
        .logo{
            img{
                @media (min-width: 320px) {
                    width: 195px;
                    height: auto;
                }
                @media (min-width: 375px) {
                    width: 100%;
                    height: auto;
                } 
            }
        }


        .navigation {
            margin-left: auto;
        }

        .site-navigation,
        .site-contacts {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .site-contacts{
            a{
                color: $blue;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include links($grayLink);

                &:nth-last-child(1){
                    @include button ($blue); 
                }
            }
        }    

        .site-navigation{
            a{
                color: $gray;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include linksSmall($grayLink);
                
                a{
                    // display: block;
                    // box-sizing: border-box;
                    padding: 0 15px;

                }
                // &:nth-child(5){
                //     margin-right: 50px;
                }
            }
        
        .navigation,
        .contacts {
            @media (min-width: 320px) {
                display: none;
            }

            @media (min-width: 720px){
                    display: block;
                }
            }
        .spinner {
            box-sizing: border-box;
            cursor: pointer;
            z-index: 99;
            height: 14px;
            width: 18px;
            margin: 14px 20px;

            @media (min-width: 320px) {
                display: block;
            }

            @media (min-width: 720px){
                    display: none;
                }

            .spinner-line {
                transition: all 0.3s;
                box-sizing: border-box;
                position: absolute;
                height: 2px;
                width: 35px;
                background-color: #000;
              }
          
              .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
          
              .diagonal.part-1 {
                position: relative;
                transition: all 0.3s;
                box-sizing: border-box;
                float: left;
              }
          
              .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
          
              .spinner-line.active.horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                opacity: 0;
                margin-top: 0;
              }
          
              .spinner-line.active.diagonal.part-1 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(135deg);
                margin-top: 6px;
              }
          
              .spinner-line.active.diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(-135deg);
                margin-top: -4px;
              }
        }   
    
        
    }

    /*  SLIDER */

    .slider {
        width: 100%;
        max-height: 660px;

        @media (min-width: 983px) {
            margin-top: 55px;
        } 

        background-image: url(../images/Illustration.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;

        .slider__text{
            box-sizing: border-box;
            
            max-width: 1305px;
            width: 100%;
            margin: 0 auto;
            // padding-left: 30px;
            padding: 8px;
            font-size: 16px;

            color: #42515b;
            text-decoration: none;

            h1{
                @media (min-width: 720px) {
                    margin-left: 74px;
                    font-size: 50px;
                    line-height: 65px;
                    font-weight: bold;


                } 
            }

            h3{
                font-family: 'Ubuntu', sans-serif;
                font-size: 16px;
                line-height: 65px;
                font-weight: 100;
                text-transform: none;


                @media (min-width: 720px) {
                    margin-left: 74px;
                } 

                @media (min-width: 983px) {
                    margin-bottom: 53px;
                } 
            }

            .button__cont{
                @include fullCollorButton($blue);
                display: flex;
                margin-left: 56px;
                margin-right: auto;

                @media (min-width: 411px) {
                   margin-left: 102px;
                }

                @media (min-width: 720px) {
                    margin-left: 74px;
                } 

                a{
                    font-size: 16px;
                    color: $white;
                    text-decoration: none;
                    font-family: 'Akrobat';
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .dots{

                @media (min-width: 720px) {
                    margin: 160px 0 60px 74px;
                } 
                .dot{
                    cursor: pointer;
                    height: 8px;
                    width: 8px;
                    margin: 0 2px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s;
                }
            }
            

        }
    }
}
/* PROJECTS */
.main__content{

    .cards {
        max-width: 1170px;
        width: 100%;
        margin: auto;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 1170px){
           margin-top: 100px;
        }


        .cards__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            color: #fff;

            .card__item {
                width: 320px;
                height: 320px;
                margin: 8px;

                @media (min-width: 1008px) {
                    width: 360px;
                    height: 360px;
                    margin: 15px;
                }
                
                a{
                    text-decoration: none;
                    color: #fff;
                    border-radius: 35px;
                    padding: 15px 35px;
                    text-align: center;
                    vertical-align: middle;
                    align-items: center; 
                    box-sizing: border-box;
                    background-color: $grayLink;
                }

                h3{
                    height: 240px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin: 40px 0 0 30px;
                }

                &.card--Exxon {
                    background-image: url(../images/Back-1.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--Talan {
                    background-image: url(../images/Back-2.jpg);
            
                            @media (min-width: 320px) {
                                background-size: auto;
                                background-position: right;
                                background-repeat: no-repeat;
                            }

                            @media (min-width: 1170px){
                                width: 750px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
            
                }
                &.card--TeenWeek {
                    background-image: url(../images/Back-3.jpg);
                            
                            @media (min-width: 320px) {
                                background-size: auto;
                                background-position: right;
                                background-repeat: no-repeat;
                                
                            }
            
                            @media (min-width: 720px){
                                width: 750px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                }
                &.card--Baseg {
                    background-image: url(../images/Back-4.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--PPD {
                    background-image: url(../images/Back-5.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--Kairos {
                    background-image: url(../images/Back-6.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    color: #42515b;
            
                    a{
                        color: #42515b;
                    
                    }
            
                }
                
                &.card--GeoSpec{
                    background-image: url(../images/Back-7.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
            }
        }

        button{
            margin: 15px auto 30px;
            display: flex;
            @include fullCollorButton($blue);

            a{
                font-size: 16px;
                color: $white;
                text-decoration: none;
                font-family: 'Akrobat';
                font-weight: bold;
                text-transform: uppercase;
            }
        }


    }
    
}



/* .card--GeoSpec a:nth-last-child(1),
    .card--TeenWeek a:nth-last-child(1){
    margin-left: 10px;
    }  */
    /* .card__item a{
        text-decoration: none;
        color: #fff;
    
        margin: auto 0 30px 30px;
    } */

    /* .card--GeoSpec a:nth-last-child(1),
    .card--TeenWeek a:nth-last-child(1){
    margin-left: 10px;
    }  */
    /* .card__item a{
        text-decoration: none;
        color: #fff;
    
        margin: auto 0 30px 30px;
    } */