$bg: #f2f5f7;
$white: #ffffff;
$gray: #42515b;
$grayLink: rgba(71, 72, 73, 0.3);
$blue: #117af7;
$black: #000;

@mixin button ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 15px 28px;
    font-size: 16px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    background-color: transparent;
    opacity: 1;

    &:hover,&:focus{
        background-color: $color;
        box-sizing: border-box;
        cursor: pointer;
         a{
            color: $white;
        }
    }
}

@mixin fullCollorButton ($color) {
    border: 2px solid $color;
    border-radius: 35px;
    padding: 20px 38px;   
    background-color: $color;

    &:hover,&:focus{
        border: 2px solid $color;
        background-color: transparent;
        box-sizing: border-box;
         a{
        background-color: transparent;
        color: $blue;
        border: none;
        }
    }
    
}

// тел в header
@mixin links ($color) { 
    border-radius: 35px;
    padding: 10px 20px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

// кнопки в header
@mixin linksSmall ($color) {
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    align-items: center; 
    box-sizing: border-box;

    &:hover,&:focus{
        background-color: $color;
         a{
            color: $white;
        }
    }
}

* {
    transition: all 0.3s;
    }

html {
    font-family: 'Akrobat';

   font-size: 20px;
   line-height: 30px;
   font-weight: bold;

    text-transform: uppercase;
    }

body {
    min-width: 320px;
    box-sizing: border-box;
    margin: 0;
}

ul{
    padding: 0;
    margin: 0;
    list-style: none; 
}



  /* header */

.main-nav {
    width: 100%;
    background-color: $bg;

    .header-conteiner{
        max-width: 1305px;

        margin: auto;
        padding: 30px 15px 5px 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        @media (min-width: 320px) {
            justify-content: space-between;
        }

        @media (min-width: 720px) {
            justify-content: flex-end;
        }
        
        .logo{
            img{
                @media (min-width: 320px) {
                    width: 195px;
                    height: auto;
                }
                @media (min-width: 375px) {
                    width: 100%;
                    height: auto;
                } 
            }
        }


        .navigation {
            margin-left: auto;
        }

        .site-nav__active,
        .site-cont__active  {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
        }

        .site-contacts{
            a{
                color: $blue;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include links($grayLink);

                &:nth-last-child(1){
                    @include button ($blue); 
                }
            }
        }    

        .site-navigation{
            a{
                color: $gray;
                text-decoration: none;
            }
            li{
                font-size: 16px;
                @include linksSmall($grayLink);
                
                a{
                    padding: 0 15px;
                }
            }
        }
        
        .navigation,
        .contacts {
            @media (min-width: 320px) {
                display: none;
            }
            @media (min-width: 720px){
                    display: block;
                }
            }

        .spinner {
            box-sizing: border-box;
            cursor: pointer;
            z-index: 99;
            height: 14px;
            width: 18px;
            margin: 14px 20px;
            @media (min-width: 320px) {
                display: block;
            }
            @media (min-width: 720px){
                    display: none;
                }
            .spinner-line {
                transition: all 0.3s;
                box-sizing: border-box;
                position: absolute;
                height: 2px;
                width: 35px;
                background-color: #000;
              }
              .horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
              .diagonal.part-1 {
                position: relative;
                transition: all 0.3s;
                box-sizing: border-box;
                float: left;
              }
              .diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                position: relative;
                float: left;
                margin-top: 3px;
              }
              .spinner-line.active.horizontal {
                transition: all 0.3s;
                box-sizing: border-box;
                opacity: 0;
                margin-top: 0;
              }
              .spinner-line.active.diagonal.part-1 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(135deg);
                margin-top: 6px;
              }
              .spinner-line.active.diagonal.part-2 {
                transition: all 0.3s;
                box-sizing: border-box;
                transform: rotate(-135deg);
                margin-top: -4px;
              }
        } 
    }

    /*  SLIDER */

    .slider {
        width: 100%;
        max-height: 660px;

        @media (min-width: 983px) {
            margin-top: 55px;
        } 

        background-image: url(../images/Illustration.png);
        background-size: contain;
        background-position: right;
        background-repeat: no-repeat;

        .slider__text{
            box-sizing: border-box;
            
            max-width: 1305px;
            width: 100%;
            margin: 0 auto;
            // padding-left: 30px;
            padding: 8px;
            font-size: 16px;

            color: #42515b;
            text-decoration: none;

            h1{
                @media (min-width: 720px) {
                    margin-left: 74px;
                    font-size: 50px;
                    line-height: 65px;
                    font-weight: bold;


                } 
            }

            h3{
                font-family: 'Ubuntu', sans-serif;
                font-size: 16px;
                line-height: 65px;
                font-weight: 100;
                text-transform: none;


                @media (min-width: 720px) {
                    margin-left: 74px;
                } 

                @media (min-width: 983px) {
                    margin-bottom: 53px;
                } 
            }

            .button__cont{
                @include fullCollorButton($blue);
                display: flex;
                margin-left: 56px;
                margin-right: auto;

                @media (min-width: 411px) {
                   margin-left: 102px;
                }

                @media (min-width: 720px) {
                    margin-left: 74px;
                } 

                a{
                    font-size: 16px;
                    color: $white;
                    text-decoration: none;
                    font-family: 'Akrobat';
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
            .dots{

                @media (min-width: 720px) {
                    margin: 160px 0 60px 74px;
                } 
                .dot{
                    cursor: pointer;
                    height: 8px;
                    width: 8px;
                    margin: 0 2px;
                    background-color: #bbb;
                    border-radius: 50%;
                    display: inline-block;
                    transition: background-color 0.6s;
                }
            }
            

        }
    }
}
/* PROJECTS */
.main__content{

    .cards {
        max-width: 1170px;
        width: 100%;
        margin: auto;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        @media (min-width: 1170px){
           margin-top: 100px;
        }


        .cards__list {
            list-style: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        
            color: #fff;
            @media (min-width: 320px){
                width: 320px;
             }
             @media (min-width: 340px){
                width: 100vh;
             }

            .card__item {
                width: 320px;
                height: 320px;
                margin: 8px;

                @media (min-width: 1170px) {
                    width: 360px;
                    height: 360px;
                    margin: 15px;
                }

                a{
                    text-decoration: none;
                    color: #fff;
                    font-size: 16px;
                    border-radius: 35px;
                    padding: 15px 35px;
                    text-align: center;
                    vertical-align: middle;
                    align-items: center; 
                    box-sizing: border-box;
                    background-color: $grayLink;

                    @include links($blue);

                    &.button--item {
                        margin-left: 30px;
                        padding: 10px 20px;
                    }
                }

                h3{
                    height: 240px;
                    font-weight: 300;
                    letter-spacing: 2px;
                    margin: 10px 0 0 30px;
                
                    @media (min-width: 1008px) {
                        height: 220px;
                        margin: 40px 0 0 30px;
                    }

                    @media (min-width: 1170px){
                        height: 260px;
                    }
                }

                &.card--Exxon {
                    background-image: url(../images/Back-1.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--Talan {
                    background-image: url(../images/Back-2.jpg);
            
                            @media (min-width: 320px) {
                                background-size: auto;
                                background-position: right;
                                background-repeat: no-repeat;
                            }

                            @media (min-width: 1008px) {
                                width: 656px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }

                            @media (min-width: 1170px){
                                width: 750px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }
                }
                &.card--TeenWeek {
                    background-image: url(../images/Back-3.jpg);
                            
                            @media (min-width: 320px) {
                                background-size: auto;
                                background-position: right;
                                background-repeat: no-repeat;

                                a.button--item {
                                    margin-left: 8px;
                                    padding: 10px 10px;
                                }
                            }
            
                            @media (min-width: 720px){
                                width: 656px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                                a.button--item {
                                    margin-left: 30px;
                                    padding: 10px 20px;
                                }
                                a:nth-last-child(1) {
                                    margin-left: 10px;
                                }
                            }

                            @media (min-width: 1170px){
                                width: 750px;
                                background-size: contain;
                                background-position: center;
                                background-repeat: no-repeat;
                            }            
                }
                &.card--Baseg {
                    background-image: url(../images/Back-4.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--PPD {
                    background-image: url(../images/Back-5.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }
                &.card--Kairos {
                    background-image: url(../images/Back-6.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
            
                    a{
                        color: #42515b;
                        background-color: #f7f7f7;

                        @include links($blue);
                    }
            
                }
                
                &.card--GeoSpec{
                    background-image: url(../images/Back-7.jpg);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;

                    a.button--item {
                        margin-left: 8px;
                        padding: 10px 10px;
                    }

                    @media (min-width: 1170px){

                        a.button--item {
                            margin-left: 30px;
                            padding: 10px 20px;
                        }
                        a:nth-last-child(1) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
        button{
            margin: 15px auto 30px;
            display: flex;
            @include fullCollorButton($blue);

            a{
                font-size: 16px;
                color: $white;
                text-decoration: none;
                font-family: 'Akrobat';
                font-weight: bold;
                text-transform: uppercase;
            }
        }
    
    }
}

// POPUP

.burger__menu{

    font-family: 'Ubuntu', sans-serif;
    line-height: 35px;
    font-weight: 200;

    position: absolute;
    display: none;
    background-color: rgba(71, 72, 73, 0.93);
    width: 250px;
    min-height: 568px;
    // height: 100vh;
    top: 0;
    right: 0;
    margin: auto;

    .site-navigation{
        margin-top: 70px;
        margin-left: 15px;

        .burger__service-button,
        .burger__project-button,
        .burger__aboutUs-button,
        .burger__price-button,
        .burger__contacts-button,
        .burger__fone-button,
        .burger__consultation-button{
            padding: 5px 0;
            text-align: left;

            .dropdown-toggle{
                position: relative;

                &:hover, &:focus{
                    transition: inherit;
                    transform: rotateZ(-90deg);
                }
            }
            
            .dropdown-toggle:after {
                position: absolute;
                top: 6px;
                left: 10px;
                display: inline-block;
                border-top: 6px solid transparent;
                border-left: 6px solid white;
                border-bottom: 6px solid transparent;
                content: '';

                transition: inherit;
                transform: rotateZ(90deg);
            }
            
            // b:before {
            //     position: absolute;
            //     top: -7px;
            //     left: 9px;
            //     display: inline-block;
            //     border-right: 7px solid transparent;
            //     border-bottom: 7px solid #CCC;
            //     border-left: 7px solid transparent;
            //     border-bottom-color: rgba(0, 0, 0, 0.2);
            //     content: '';
            // }
            
            a{
                color: $white;
                text-decoration: none;
                
            }

            ul{
                margin: 0 25px;

                .servise_item{
                    font-size: 16px;
                    // display: none;
                    text-decoration: underline;
                }
                .service__submenu--list{
                    // display: none;
                    margin: 0 15px;
                    font-size: 14px;

                    a{
                        font-size: 14px;
                        text-transform: none;  
                        
                        &:hover, &:focus {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }


}  

.modal-services{
    width: 100%;
    height: 100%;
    top: 0;
    background-color: $grayLink;
    display: none;

    @media (min-width: 320px){
        position: absolute;
    }

    @media (min-width: 768px){
        position: fixed;
    }

    .services__conteiner{
        background-color: $white;
        display: flex;
        // position: fixed;
        flex-direction: column;

        .service__help{
            max-width: 1330px;
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
        
            button{
                
                @include fullCollorButton($blue);
                position: relative;

               a{
                text-decoration: none;
                color: #fff;
                font-size: 16px;
                font-weight: bold;
                text-transform: uppercase;
                font-family: 'Akrobat'
                } 

                @media (min-width: 320px){
                    margin: auto 30px;
                    padding: 10px 20px;
                }

                @media (min-width: 854px){
                    margin: 30px 0 85px auto; 
                    padding: 18px 66px;
                }
            }  

            .services__close{
                width: 58px;
                height: 58px;
                margin: 30px 0 30px 30px;
                border: 2px solid $blue;
                border-radius: 50px;
                position: relative;


            }

            .services__close::after{
                content: "";
                position: absolute;
                top: 29px;
                left: 17px;
                width: 24px;
                height: 2px;
            
                transform: rotate(45deg);
                background-color: $blue;
            } 
            .services__close::before{
                content: "";
                position: absolute;
                top: 29px;
                left: 17px;
                width: 24px;
                height: 2px;
                transform: rotate(-45deg);
                background-color: $blue;
            } 
        }

        .service__main{
            display: flex;
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
            padding: 0 15px;

            flex-wrap: wrap;
            justify-content: space-around;

            @media (min-width: 854px){
                justify-content: space-between;
            }

            @media (min-width: 1140px){
                margin-bottom: 85px;
            }
            

            .service{
                width: 285px; 
                margin-bottom: 30px;

                @media (min-width: 1140px){
                    margin-bottom: 0;
                }


                h3{
                    font-size: 30px;
                    line-height: 65px;
                    font-weight: 300;
                    margin: 0;
                    letter-spacing: 6px;
                }

                a{
                    text-decoration: none;
                    color: $gray;
                    font-family: 'Ubuntu', sans-serif;
                    font-size: 16px;
                    line-height: 40px;
                    text-transform: none; 
                    font-weight: 100;
                }
           
            .development__picture{
                width: 122px;
                height: 99px;

                background-image: url(../images/development.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;  
                }
            .promotion__picture{
                width: 122px;
                height: 99px;
                
                background-image: url(../images/promotion.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;  
                }
            .brending__picture{
                width: 122px;
                height: 99px;
                
                background-image: url(../images/brending.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;  
                }
            .support__picture{
                width: 122px;
                height: 99px;
                
                background-image: url(../images/support.png);
                background-size: contain;
                background-position: center;
                background-repeat: no-repeat;  
                }
            }
        
        }
        .support__bottom{
            max-width: 1140px;
            width: 100%;
            margin: 0 auto;
            
            display: flex;
            background-color: $bg;
            align-items: center;
            box-sizing: border-box;
            
            @media (min-width: 320px){
                margin-bottom: 0;
                justify-content: space-around;
                padding: 10px;
            }

            @media (min-width: 854px){
                margin-bottom: 100px;
                justify-content: space-between;
                padding: 0;
            }
            

                .bottom__picture{
                    width: 242px;
                    height: 150px;
                    background-image: url(../images/service_Illustration.png);
                    background-size: contain;
                    background-position: left;
                    background-repeat: no-repeat;

                    @media (min-width: 320px){
                        display: none;
                    }
        
                    @media (min-width: 854px){
                        display: block;
                    }
                }

                .bottom__title{
                    h3{
                        font-weight: 300;
                        color: $gray;
                        margin-bottom: 10px;

                        @media (min-width: 320px){
                            font-size: 30px;
                        }
            
                        @media (min-width: 854px){
                            font-size: 40px;
                        }
                    }

                    p{
                        font-weight: 300;
                        color: $gray;
                        margin-top: 0;
                        text-transform: none;

                        @media (min-width: 320px){
                            font-size: 20px;
                        }
            
                        @media (min-width: 854px){
                            font-size: 16px;
                        }
                    }
                    

                }
                
                button{    
                    @include button($blue);
                    padding: 16px 68px;
                    margin-right: 95px;
    
                   a{
                    text-decoration: none;
                    color: $blue;
                    font-size: 16px;
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: 'Akrobat'
                    } 

                    @media (min-width: 320px){
                        margin-right: 0px;
                        padding: 16px 30px;
                    }
        
                    @media (min-width: 854px){
                        margin-right: 95px;
                        padding: 16px 68px;
                    }
                }
            }
    }
}

.modal-show {
    display: block;
    animation-name: bounce;
    animation-duration: 0.6s;
}

.modal-show-right {
    display: block;
    animation-name: bounceRight;
    animation-duration: 0.6s;
}




/*           АНИМАЦИЯ             */
@keyframes bounce {

	0%   { transform: translateY(-2000px);}
	50%  { transform: translateY(10px);	  }
	90%  { transform: translateY(30px);  }
}

@keyframes bounceRight {

	0%   { transform: translateX(+2000px);}
    50%  { transform: translateX(10px);	  }
    100%  { transform: translateX(30px);	  }
}